@import './components/header/header.css';
@import './components/modal/modal.css';

/****** GENERAL *******/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--black: #000;
	--red: #DC0000;
	--red-dark: #850000;
	--beige: #FFDB89;
	--beige-light: #FFF6C3;
	--padding-small: 5px;
}

html{
	font-size: 18px;
    font-family: 'Verdana', 'Arial', sans-serif;
}

body {
	background: var(--black);
	position: relative;
}

a {
	text-decoration: none;
}

.container{
	margin: 0 auto;
	width: 90%;
	max-width: 1080px;
	background-color: hsla(0, 0%, 0%, 50%);
	height: 100vh;
}

.btn {
	padding: 5px 15px;
	border: none;
	background-color: var(--beige);
	color: var(--black);
	text-decoration: none;
	cursor: pointer;
	font: inherit;
}
.btn:hover {
	background-color: var(--beige-light);
}


/******************** MAIN *******************/
.main {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.canvas{
	background-color: #0D0D0D;
}

.main__items-number-wrapper {
	position: absolute;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	padding: 1rem;
	background: var(--red);
	border: 8px solid var(--red-dark);
	border-left: none;
}
.main__items-number {
	width: 80px;
	padding: 5px;
	font: inherit;
}
.main__items-number-btn {
	width: 100%;
}

/****** MEDIA ******/
@media screen and (max-width: 560px) {
	.main__items-number-wrapper {
		top: 0;
		flex-direction: row;
		width: 100%;
		padding: 10px;

		border: none;
		background: var(--red-dark);
	}
	.main__items-number-btn {
		width: fit-content;
	}
}


