/******************** PRESETS *******************/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--black: #000;
	--red: #DC0000;
	--red-dark: #850000;
	--beige: #FFDB89;
	--beige-light: #FFF6C3;
	--padding-small: 5px;
}

html{
	font-size: 18px;
    font-family: 'Verdana', 'Arial', sans-serif;
}

body {
	background: var(--black);
}

.small-element{
	font-size: 1.2rem;
	letter-spacing: 1.5px;
	padding: 0.3em 1em;
	border: 2px solid #f44;
	border-radius: 12px;
	background-color: #444;
	color: #fff;
	transition: 0.2s;
}

.small-element:hover{
	background-color: #111;
	border: 2px solid #f11;
}

.flex-column-div{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container{
	margin: 0 auto;
	width: 90%;
	max-width: 1080px;
	background-color: hsla(0, 0%, 0%, 50%);
	height: 100vh;
}

.btn {
	padding: 5px 15px;
	border: none;
	background-color: var(--beige);
	color: var(--black);
	text-decoration: none;
	cursor: pointer;
	font: inherit;
}
.btn:hover {
	background-color: var(--beige-light);
}

/******************** HEADER *******************/
.header {
	background: var(--red-dark);
	color: var(--beige-light);
}
.header__wrapper {
	display: flex;
	align-items: center;
	background-color: var(--red);
}
.header__title {
	padding: var(--padding-small);
	font-weight: normal;
}
.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	gap: 1rem;
	/*padding: var(--padding-small);*/
}

/******************** INPUT FIELD *******************/
.input-div{
	margin-bottom: 1em;
}

.input-div label{
	margin: 0 .5em;
	font-size: 1.2rem;
	font-weight: bold;
	color: #fff;
}



/******************** CANVAS FIELD *******************/
#canvas{
	background-color: #0D0D0D;
	border: 5px solid #000;
	border-radius: 5px;
}

.canvas-div{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.canvas-buttons-div{
	margin-left: 2em;
}

.canvas-buttons-div button{
	margin: 0.5em 0;
}





/******************** START/RESTART FIELD *******************/

.button-div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button{
	font-family: 'Courier';
	margin: 0 0.5em;
}

#start{
	margin: 1.5rem 0;
}
