/******************** PRESETS *******************/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--black: #000;
	--red: #DC0000;
	--red-dark: #850000;
	--beige: #FFDB89;
	--beige-light: #FFF6C3;
	--padding-small: 5px;
}

html{
	font-size: 18px;
    font-family: 'Verdana', 'Arial', sans-serif;
}

body {
	background: var(--black);
}

.container{
	margin: 0 auto;
	width: 90%;
	max-width: 1080px;
	background-color: hsla(0, 0%, 0%, 50%);
	height: 100vh;
}

.btn {
	padding: 5px 15px;
	border: none;
	background-color: var(--beige);
	color: var(--black);
	text-decoration: none;
	cursor: pointer;
	font: inherit;
}
.btn:hover {
	background-color: var(--beige-light);
}

/******************** HEADER *******************/
.header {
	background: var(--red-dark);
	color: var(--beige-light);
}
.header__wrapper {
	display: flex;
	align-items: center;
	background-color: var(--red);
}
.header__title {
	padding: var(--padding-small);
	font-weight: normal;
}
.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	gap: 1rem;
}


/******************** CANVAS *******************/
.main {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.canvas{
	background-color: #0D0D0D;
}

.main__items-number-wrapper {
	position: absolute;
	left: 0px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	padding: 1rem;
	background: var(--red);
	border: 8px solid var(--red-dark);
	border-left: none;
}
.main__items-number {
	width: 80px;
	padding: 5px;
	font: inherit;
}
.main__items-number-btn {
	width: 100%;
}